/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);*/

html,body{
	height:100%;
}

h1,h2,h3,h4,h5,p,span,body{
	font-family: "Open Sans" , sans-serif;
}

.center-element{
	text-align:center;
}

.stay-bottom{
	width:100%;
}

#Wrapper-header , #Wrapper-botfooter{
	background-color:#040707;
}

#front-home{
	padding-top:10%;
	padding-bottom:10%;
}

#front-home #logo{
	display:none;
}

#Wrapper-botfooter .container{
	padding-top:15px;
	padding-bottom:15px;
	color:#666;
}

#logo-footer{
	display:none;
	margin-top:0;
	margin-bottom:0;
}

#Wrapper-topfooter{

	border-top:1px solid #DEDEDF;
}

#Wrapper-topfooter .container .row > div{
	padding-top:15px;
	padding-bottom:15px;
}

#navbar-collapse-button{
	border:1px solid #333;
}

#navbar-collapse-button span{
	background:#ccc;
}

#navbar a{
	color:#fff;
}